@use "../abstracts/" as *;

p {
  font-size: 16px;
  line-height: 150%;
  color: $color-neutral-10;
  // font-weight: 400;
  &.body-reg-alt {
    font-weight: 600;
  }
}

span {
  font-size: 16px;
  line-height: 125%;
  color: $color-neutral-10;
  &.body-lg {
    font-size: 18px;
  }
  &.body-lg-alt {
    font-size: 18px;
    font-weight: 600;
  }

  &.body-sm {
    font-size: 12px;
    font-weight: 700;
  }
}

// HEADINGS
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: $color-neutral-10;
  line-height: 125%;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;

  // MEDIA-QUERIES
  @include display(lg-phone) {
    font-size: 24px;
  }
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 12px;
}
.phase {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  background-color: $color-primary-green-50;
  width: fit-content;
  margin: 0 auto;
  color: $color-neutral-90;
  padding: 0 16px;
}
