.btn {
  width: max-content;
  display: inline-block;
  // color: white;
  padding: 7.5px 12px;
  border: 1px solid red;
  border-radius: 4px;
  cursor: pointer;
  // transition: $transition;

  &:hover {
    background-color: white;
    color: red;
    border-color: transparent;
  }
  &--primary {
    background-color: rgb(190, 172, 197);
    // color: black;
  }
}
