@use "../abstracts/" as *;

.chip {
  background-color: $color-primary-green-20;
  color: $color-primary-green-50;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 100px;
  border: 0.8px solid $color-neutral-10;
}
