@use "../abstracts/" as *;

nav {
  position: fixed;
  height: fit-content;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 0;
  background-color: #fefefe;
  border-radius: 30px;
  z-index: 20;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    height: 100%;
    li {
      width: 100%;
      &:first-child {
        border-radius: 30px 30px 0 0;
      }
      &:last-child {
        border-radius: 0 0 30px 30px;
      }
      .menu {
        position: relative;
        text-decoration: none;
        color: #1a2238;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        width: 100%;
        transition: 0.2s all ease;
        padding: 14px 10px;
        svg {
          width: 30px;
          height: 30px;
          transition: 0.2s all ease;
          path {
            transition: 0.2s all ease;
          }
        }
        span {
          position: absolute;
          background-color: #fefefe;
          padding: 2px 15px;
          line-height: 24px;
          border-radius: 30px;
          margin-right: 10px;
          font-weight: 500;
          font-size: 15px;
          visibility: hidden;
          opacity: 0;
          color: #1a2238;
          transition: 0.2s all ease;
          letter-spacing: 1.8px;
        }
        &--active {
          // background-color: darken($color-primary-green-50, $amount: 0);
        }
        &:hover {
          span {
            opacity: 1;
            visibility: visible;
            margin-right: 50px;
          }
        }
      }
      &:hover {
        // background-color: darken($color-primary-green-50, $amount: 0);
        background-color: lightgray;
        &:first-child {
          border-radius: 30px 30px 0 0;
        }
        &:last-child {
          border-radius: 0 0 30px 30px;
        }
      }
    }
  }

  // MEDIA-QUERIES
  @include display(tab-port) {
    width: fit-content;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    ul {
      flex-flow: row;

      li {
        &:first-child {
          border-radius: 30px 0 0 30px;
        }
        &:last-child {
          border-radius: 0 30px 30px 0;
        }
        .menu {
          justify-content: center;
          padding: 10px 12px;
          span {
            margin-bottom: 50px;
            margin-right: 0;
            left: 50%;
            transform: translateX(-50%);
          }

          &:hover {
            span {
              margin-right: 0;
              margin-bottom: 100px;
            }
          }
        }
        &:hover {
          &:first-child {
            border-radius: 30px 0 0 30px;
          }
          &:last-child {
            border-radius: 0 30px 30px 0;
          }
        }
      }
    }
  }
  @include display(sm-phone) {
    ul {
      flex-flow: row;

      li {
        .menu {
          padding: 10px 8px;
        }
      }
    }
  }
}
