@use "../abstracts/" as *;

nav {
  position: fixed;
  height: 350px;
  left: 20px;
  // bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 0;
  background-color: #fefefe;
  padding: 20px 10px;
  border-radius: 30px;
  z-index: 20;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    height: 100%;
    li {
      width: 100%;

      .menu {
        position: relative;
        text-decoration: none;
        color: #1a2238;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 100%;
        transition: 0.2s all ease;

        svg {
          width: 30px;
          height: 30px;
          path {
            transition: 0.2s all ease;
          }
        }
        span {
          position: absolute;
          background-color: #fefefe;
          padding: 2px 15px;
          line-height: 24px;

          border-radius: 30px;
          margin-left: 10px;
          font-weight: 500;
          font-size: 15px;
          visibility: hidden;
          opacity: 0;
          color: #1a2238;
          transition: 0.2s all ease;
        }
        &--active {
          background-color: rgb(220, 223, 10);
          color: greenyellow;
          filter: drop-shadow(0 0 5px yellow);
        }
        &:hover {
          background-color: red;
          span {
            opacity: 1;
            visibility: visible;
            margin-left: 50px;
          }
        }
      }
    }
  }

  // MEDIA-QUERIES
  @include display(phone) {
    height: max-content;
    width: 300px;
    top: 90%;
    left: 50%;
    padding: 10px 20px;
    transform: translateX(-50%);
    ul {
      flex-flow: row;

      li {
        .menu {
          justify-content: center;
          span {
            // position: relative;
            margin-bottom: 50px;
            // margin-left: 50%;
            margin-left: 0;
            left: 50%;

            transform: translateX(-50%);

            // top: -90px;
            // left: 50%;

            // margin-bottom: 50px;
          }
          &--active {
            background-color: rgb(10, 77, 223);
            // color: greenyellow;
            // filter: drop-shadow(0 0 5px yellow);
            span {
              // left: 10px;
              // margin-left: 50%;
            }
          }

          &:hover {
            span {
              // top: -90px;
              margin-left: 0;
              margin-bottom: 100px;
            }
            &--active {
              background-color: rgb(10, 77, 223);
              // color: greenyellow;
              // filter: drop-shadow(0 0 5px yellow);
              span {
              }
            }
          }
        }
      }
    }
  }
}

// .nav {
//   background-color: rgba(0, 0, 0, 0.3);
//   width: max-content;
//   display: block;
//   // padding: 0.7rem 1.7rem;
//   padding: 1.7rem 0.7rem;
//   z-index: 5;
//   position: fixed;
//   // left: 50%;
//   // transform: translateX(-50%);
//   transform: translateY(50%);
//   bottom: 50%;
//   right: 1rem;
//   display: flex;
//   flex-direction: column;
//   gap: 0.8rem;
//   border-radius: 3rem;
//   backdrop-filter: blur(15px);

//   a {
//     position: relative;

//     .tooltip {
//       position: absolute;
//       border: 1px solid #e41b1b;
//       left: -4rem;
//       bottom: 0;
//       transition: 0.3s all linear;
//       &--hide {
//         transform: translateX(-100%);
//         display: none;
//       }
//       &--show {
//         transform: translateX(0);
//         display: block;
//         // opacity: 0;
//       }
//     }
//   }

//   a {
//     background: transparent;
//     padding: 0.9rem;
//     border-radius: 50%;
//     display: flex;
//     color: white;
//     font-size: 1.1rem;
//     &:hover {
//       color: white;
//       background-color: green;
//     }
//   }
//   .active {
//     background-color: red;
//     color: greenyellow;
//     filter: drop-shadow(0 0 5px yellow);
//   }
//   animation: nav 1s ease-in-out;

//   // MEDIA-QUERIES
//   @include display(sm-phone) {
//     padding: 0.7rem 1rem;
//     gap: 0.5rem;
//     a {
//       padding: 0.7rem;
//     }
//   }
// }

// @keyframes nav {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
