@use "../abstracts/" as *;

.side-profile {
  @extend %section;
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  // top: 0;
  top: 60px;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  &__img {
    border-radius: 8px;
    overflow: hidden;
    img {
      object-fit: cover;
      // height: 396px;
      height: 350px;
      border-radius: 8px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    height: 350px;
    overflow-y: scroll;
    gap: 24px;
    padding-bottom: 72px;
    padding-right: 8px;

    &-bio {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &-phone {
      p {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
    &-email {
      p {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
    &-links {
      display: flex;
      gap: 24px;
      img {
        width: auto;
      }
    }

    // &::-webkit-scrollbar-track {
    //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    //   border-radius: 10px;
    //   background-color: #cccccc;
    // }
    // &::-webkit-scrollbar {
    //   width: 12px;
    //   // background-color: #f5f5f5;
    //   background-color: transparent;
    // }
    // &::-webkit-scrollbar-thumb {
    //   border-radius: 10px;
    //   background-color: $color-primary-green-50;
    //   background-image: -webkit-linear-gradient(
    //     90deg,
    //     rgba(0, 0, 0, 0.4) 50%,
    //     rgba(0, 0, 0, 0.4) 50%,
    //     rgba(0, 0, 0, 0.4) 50%,
    //     transparent
    //   );
    // }
  }

  // MEDIA-QUERIES
  @include display(tab-land) {
  }
  @include display(tab-port) {
    position: static;
    align-self: stretch;
    &__container {
      flex-direction: row;

      gap: 36px;
    }
    &__img {
      flex-basis: 30%;

      img {
        object-fit: cover;
        height: 100%;
      }
    }
    &__info {
      flex-basis: 70%;

      height: auto;
      overflow-y: auto;
      padding: 0;
      justify-content: center;
    }
  }
  @include display(lg-phone) {
    &__container {
      flex-direction: column;
      gap: 24px;
    }
    &__img {
      img {
        width: 120px;
      }
    }
  }
  &__info {
    gap: 16px;
  }
}
