/* === FONTS === */
/* in _app.js */

/* === COLORS === */
$color-primary-green-50: #ccff00;
$color-primary-green-20: rgba(#ccff00, 0.2);

$color-neutral-90: #191414; // bg
$color-neutral-80: #222222; // font
$color-neutral-40: #8d8d8d; // img figcaption
$color-neutral-20: #f5f5f5; // only font quote
$color-neutral-10: #fafafa; // font
$color-neutral-0: #ffffff;

/* === CONTAINERS === */
$width-lg: 59%;
$width-md: 86%;
$width-sm: 90%;

/* === TRAANSITIONS === */
$transition: 0.3s all ease;
