@use "../abstracts/" as *;

.case-study-main {
  min-height: 100vh;
  display: grid;
  gap: 80px;

  /* BANNER */
  .banner {
    @extend %section;
    height: 80vh;
    // position: sticky;
    // top: 100px;
    &__container {
      // @extend %container;
      display: flex;
      justify-content: center;
      // align-items: center;
      position: relative;
    }
    &__bg {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      // border: 1px solid #ca1515;
      img {
        height: 100%;
        object-fit: cover;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(16, 13, 13, 0.82) 44.27%,
          rgba(21, 17, 17, 0.9424) 71.87%,
          #191414 100%
        );
      }
    }
    &__mockup {
      max-height: 80vh;
      padding: 24px 0;
      img {
        object-fit: contain;
        height: 100%;
      }
    }
  }

  /* TITLE */
  .title {
    @extend %section;
    &__container {
      @extend %container;
      display: grid;
      gap: 16px;
    }
    &__chips {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  /* INTRO */
  .intro {
    @extend %section;
    h2 {
      // margin-bottom: 8px; //40px-32px
    }
    &__container {
      @extend %container;
      display: grid;
      gap: 32px;
    }
    .bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;
      .left,
      .right {
        display: grid;
        gap: 32px;
      }
    }
    h3 {
      margin-bottom: 8px;
    }
  }

  /* WORKFLOW */
  .workflow {
    // @extend %section;
    h2 {
      // margin-bottom: 40px;
      margin-bottom: 32px;
    }
    &__container {
      @extend %container;
    }
    &__image {
      img {
        height: 100%;
      }
    }
  }

  /* DESIGN THINKING CONTENT */
  .empathize,
  .define,
  .ideate,
  .prototype,
  .test {
    @extend %section;
    &__container {
      @extend %container;
      // display: grid;
      // border: 1px solid #a72828;
      & > p {
        margin-top: 16px;
      }
      & > ul {
        margin-top: 16px;
        padding-left: 20px;
        li {
          list-style: disc;
          color: $color-neutral-20;
        }
      }
      h5 {
        margin-bottom: 4px;
        margin-top: 40px;
        color: $color-primary-green-50;
        font-weight: 800;
      }
      h2 {
        // margin-bottom: 24px; //40px-paragraph padding-top
        // margin-bottom: 40px; //margin sifat tidak stuck
        margin-bottom: 32px; //jangan 40? diatas 32px
      }
      h3 {
        margin-top: 32px;
      }
      h3 + p,
      h3 + ul {
        margin-top: 8px !important;
      }
      > img {
        margin-top: 16px;
        height: 100%;
      }
      img + p {
        color: $color-neutral-40;
        font-size: 13px;
        margin-top: 8px !important;
        display: flex;
        justify-content: center;
      }
      b {
        // background-color: $color-primary-green-50;
        // color: $color-neutral-80;
      }
      a {
        font-size: 16px;
        line-height: auto;
        font-weight: bold;
        color: $color-neutral-10;
        text-decoration: underline;
        transition: $transition;
        &:hover {
          color: $color-primary-green-50;
        }
      }
    }
  }
  .outcomes {
    &__container {
      @extend %container;
      display: grid;
      // gap: 40px;
      gap: 16px; //32px-16px
    }

    &__content {
      p {
        // border: 1px solid #000;
        margin-top: 16px;
      }
    }
  }
  .learnings {
    &__container {
      @extend %container;
      display: grid;
      // gap: 40px;
      gap: 16px; //32px-16px
    }
    &__content {
      p {
        // border: 1px solid #000;
        margin-top: 16px;
      }
    }
  }

  // MEDIA-QUERIES
  @include display(sm-phone) {
    .intro {
      .bottom {
        grid-template-columns: 1fr;
      }
    }
  }
}

footer {
  // border: 1px solid #000;
  .container {
    @extend %container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    // border: 1px solid #000;
    margin: 80px auto;
  }
}
