@use "../abstracts/" as *;

.case-study-main {
  min-height: 100vh;
  display: grid;
  gap: 80px;

  /* BANNER */
  .banner {
    // @extend %section;
    height: 80vh;
    &__container {
      // @extend %container;
      display: flex;
      justify-content: center;
      // align-items: center;
      position: relative;
    }
    &__bg {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      // border: 1px solid #ca1515;
      img {
        object-fit: cover;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(16, 13, 13, 0.82) 44.27%,
          rgba(21, 17, 17, 0.9424) 71.87%,
          #191414 100%
        );
      }
    }
    &__mockup {
      max-height: 80vh;
      padding: 24px 0;
      img {
        object-fit: contain;
      }
    }
  }

  /* TITLE */
  .title {
    @extend %section;
    &__container {
      @extend %container;
      display: grid;
    }
    &__chips {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  /* INTRO */
  .intro {
    @extend %section;
    h2 {
      margin-bottom: 8px;
    }
    &__container {
      @extend %container;
      display: grid;
      gap: 32px;
    }
    .bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;
      .left,
      .right {
        display: grid;
        gap: 32px;
      }
    }
    h3 {
      margin-bottom: 8px;
    }
  }

  /* WORKFLOW */
  .workflow {
    @extend %section;
    h2 {
      margin-bottom: 40px;
    }
    &__container {
      @extend %container;
      display: grid;
    }
  }

  /* DESIGN THINKING CONTENT */
  .empathize,
  .define,
  .ideate,
  .prototype,
  .test {
    @extend %section;
    &__container {
      @extend %container;
      // display: grid;

      & > p {
        margin-top: 16px;
      }
      & > ul {
        margin-top: 16px;
        padding-left: 20px;
        li {
          list-style: disc;
          color: $color-neutral-20;
        }
      }
      h5 {
        margin-bottom: 4px;
        margin-top: 80px;
        color: $color-primary-green-50;
        font-weight: 800;
      }
      h2 {
        margin-bottom: 24px; //40px-paragraph padding-top
      }
      h3 {
        margin-top: 32px;
      }
      h3 + p,
      h3 + ul {
        margin-top: 8px !important;
      }
      > img {
        margin-top: 16px;
      }
      img + p {
        color: $color-neutral-40;
        font-size: 13px;
        margin-top: 8px !important;
        display: flex;
        justify-content: center;
      }
    }
  }
  // .content {
  //   /* markdown */
  //   ul {
  //     padding-left: 20px;
  //     li {
  //       list-style-type: circle;
  //     }
  //   }
  //   img {
  //     object-fit: contain;
  //   }

  //   margin: 0;
  //   padding: 0;
  //   border: 0;
  //   text-decoration: none;
  //   // box-sizing: inherit;
  // }
}

/* 
intro
design process --> contentful rich text styling (html tag included: <blockquote/> <p/>, <code/>, )
outro 
 */
// blockquote {
//   background-color: #8f8a53;
// }
// .AnimatedEllipsis {
//   display: inline-block;
//   overflow: hidden;
//   vertical-align: bottom;
//   &::after {
//     display: inline-block;
//     content: "...";
//     animation: AnimatedEllipsis-keyframes 1.2s steps(4, jump-none) infinite;
//   }
//   @keyframes AnimatedEllipsis-keyframes {
//     0% {
//       transform: translateX(-100%);
//     }
//   }
// }
